table{
    border-left-color: black;
    background: aquamarine;
    color: blue;
border-style: double;

}
th,tr,td {
    background-color: antiquewhite;
    border-style: groove;
    border-radius: 5px;
    border-bottom: 5px;
    border-top: 6px;
    border-width: 3px;
    border-top-style: inset;
}
h1 {
    background-color: rgb(65, 194, 223);
    color: azure
}
header {
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
